<html>

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel='icon' href="{{url_for('static', filename='img/favicon.ico')}}" type='image/x-icon' /> {% if title %}
    <title>Expense Tracker - {{ title }}</title>
    {% else %}
    <title>Expense Tracker</title>
    {% endif %}
</head>

<body>
    <nav class="navbar navbar-default" style="position: static;" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                <div class="navbar-brand navbar-brand-centered">
                    <a href="#">Expanse Tracker</a>
                </div>
            </div>

            <div class="collapse navbar-collapse" id="navbar-brand-centered">
                <ul class="nav navbar-nav">
                    {% if not current_user.is_anonymous %}
                    <li><a href="{{url_for('profile')}}">Profile</a></li>
                    <li><a href="{{url_for('contacts')}}">Contacts</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{url_for('register')}}">Register</a></li>
                    <li><a href="{{url_for('login')}}">Login</a></li>
                    {% else %}
                    <li>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            {% if g.search_form %}
                            <form class="navbar-form navbar-left" method="get" action="{{ url_for('search') }}">
                                <div class="form-group">
                                    {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
                                </div>
                            </form>
                            {% endif %}
                        </div>
                    </li>
                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% block body %}{% endblock %}
</body>

</html>