{% extends "base.html" %} {% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well well-sm">
                <form class="form-horizontal" action="" method="post">
                    {{ form.hidden_tag() }}
                    <fieldset>
                        <legend class="text-center">Add New Contact</legend>
                        <!-- Name input-->
                        <div class="form-group">
                            {{ form.name.label(class_="col-md-3 control-label")}}
                            <div class="col-md-9">
                                {{ form.name(size=32, class_="form-control", placeholder="Enter Name") }}
                            </div>
                        </div>

                        <!-- Email input-->
                        <div class="form-group">
                            {{ form.email.label(class_="col-md-3 control-label")}}
                            <div class="col-md-9">
                                {{ form.email(size=32, class_="form-control", placeholder="Enter E-mail") }}
                            </div>
                        </div>

                        <!-- Form actions -->
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                {{ form.submit(class_="btn btn-primary btn-lg") }}
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div>
                    {% for contact in contacts %}
                    <a href="{{ url_for('transactions',contact_id=contact.id) }}">
                        <div>
                            <hr>
                            <h4>{{ contact.name }} : {% if contact.id not in amount %}
                                <span class="navbar-right" style="color: green;">0</span> {% elif amount[contact.id] > -1 %}
                                <span class="navbar-right" style="color: green;">{{ amount[contact.id] }}</span> {% else %}
                                <span class="navbar-right" style="color: red;">{{ amount[contact.id] }}</span> {% endif %}
                            </h4>
                        </div>
                    </a>
                    <a href="{{ url_for('delete_contact', contact_id = contact.id) }}">Delete</a> {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}