{% extends "base.html" %} {% block body %}
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>User Profile</h4>
            </div>
            <form method="POST" action=''>
                <div class="panel-body">
                    <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                        <a href="{{url_for('static', filename='img/nobody.jpg')}}"><img alt="User Pic" src="{{url_for('static', filename='img/nobody.jpg')}}" id="profile-image1" class="img-circle img-responsive"></a>
                    </div>
                    <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                        <div class="container">
                            {{form.name(size=32)}}
                        </div>
                        <hr>
                        <ul class="container details">
                            <li>
                                <p><span class="glyphicon glyphicon-user one" style="width:25px;"></span>{{ current_user.username }}</p>
                            </li>
                            <li>
                                <p><span class="glyphicon glyphicon-envelope one" style="width:25px;"></span>{{ current_user.email }}</p>
                            </li>
                        </ul>
                        <hr>
                    </div>
                    {{ form.submit(class_="navbar-right btn btn-success") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}