{% extends "base.html" %} {% block body %}
<div class="main">
    <div class="col-md-6 col-sm-12">
        <h2>Log In</h2>
        <div class="login-form">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label }}{{ form.username(size=32, class_="form-control", placeholder="Enter Username") }} {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span> {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.password.label }} {{ form.password(size=32, class_="form-control", placeholder="Enter Password") }} {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span> {% endfor %}
                </div>
                <div class="form-group">
                    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                </div>
                {{ form.submit(class_="btn btn-black") }}

                <div class="form-group">
                    <br> New User? <a href="{{ url_for('register') }}">Click to Register!</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}