{% extends "base.html" %} {% block body %}
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>User Profile</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                    <img alt="User Pic" src="{{url_for('static', filename='img/nobody.jpg')}}" id="profile-image1" class="img-circle img-responsive">
                </div>
                <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                    <div class="container">
                        <h2>{{ current_user.name }}</h2>
                    </div>
                    <hr>
                    <ul class="container details">
                        <li>
                            <p><span class="glyphicon glyphicon-user one" style="width:25px;"></span>{{ current_user.username }}</p>
                        </li>
                        <li>
                            <p><span class="glyphicon glyphicon-envelope one" style="width:25px;"></span>{{ current_user.email }}</p>
                            <a href="{{ url_for('edit_profile') }}" class="btn btn-success">Edit Profile</a>
                            <button onclick="download_process()" class="btn btn-success">Download</button>
                            <a href="{{ url_for('download') }}"><button style="display:none;" id='start'>Start Download</button></a>
                        </li>
                    </ul>
                    <hr>
                    <h3>Your Net Expense : </h3>
                    <h2>{% if net_amount == None %}
                        <span style="color: green;">0</span> {% elif net_amount > -1 %}
                        <span style="color: green;">{{ net_amount }}</span> {% else %}
                        <span style="color: red;">{{ net_amount }}</span> {% endif %}
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function download_process() {
        $.ajax({
            url: '/download_contents',
            type: 'GET',
            success: function(data, status, request) {
                status_url = request.getResponseHeader('Location');
                check_download_content_progress(status_url);
            }
        });
    }

    function check_download_content_progress(status_url) {
        $.ajax({
            'type': "GET",
            'url': status_url,
            success: function(data) {
                if (data['state'] == 'SUCCESS') {
                    $("#start").click()
                } else if (data['state'] == 'FAILURE') {
                    alert(data['state'])
                } else {
                    setTimeout(function() {
                        check_download_content_progress(status_url);
                    }, 2000);
                }
            }
        });
    }
</script>
{% endblock %}