{% extends "base.html" %} {% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <h1>Register</h1>
                <div class="card-body">
                    <form class="form-horizontal" method="post" action="">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.username.label(class_="cols-sm-2 control-label") }}
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>{{ form.username(size=32, class_="form-control", placeholder="Enter Username") }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.name.label(class_="cols-sm-2 control-label") }}
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span> {{ form.name(size=32, class_="form-control", placeholder="Enter Your Name") }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.email.label(class_="cols-sm-2 control-label") }}
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>{{ form.email(size=32, class_="form-control", placeholder="Enter Your E-mail") }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.password.label(class_="cols-sm-2 control-label") }}
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>{{ form.password(size=32, class_="form-control", placeholder="Enter Your Password") }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.password2.label(class_="cols-sm-2 control-label") }}
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>{{ form.password2(size=32, class_="form-control", placeholder="Confirm Your Password") }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            {{ form.submit(class_="btn btn-primary btn-lg btn-block login-button") }}
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}