{% extends "base.html" %} {% block body %}
<span class="" style="color:green;">
    <h3>Search Results: </h3>
</span>
<div>
    <span class="" style="color:blue;">
    <h4>Contacts: </h4></span> {% if total != 0 %} {% for contact in contacts %} {% if contact.user_id == current_user.id %}
    <a href="{{url_for('transactions', contact_id=contact.id)}}">
        <h4>{{ contact.name }}</h4>
    </a>
    <h4>{{ contact.email }}</h4>
    <br> {% endif %} {% endfor %} {% else %}
    <span class="" style="color: red;">
    <h5>No Contact Found with this name!</h5>
    </span> {% endif %}
</div>


<div>
    <br>
    <span class="" style="color:blue;">
    <h4>Transactions: </h4></span> {% if total2 != 0 %} {% for tr in transactions %} {% if tr.user_id == current_user.id %}
    <h4>{{ tr.amount }}</h4>
    <a href="{{url_for('transactions', contact_id=tr.contact_id)}}">
        <h4>{{ tr.reason }}</h4>
    </a>
    <br> {% endif %} {% endfor %} {% else %}
    <span class="" style="color: red;">
    <h5>No Transactions Found with this word!</h5>
    </span> {% endif %}
</div> {% endblock %}