{% extends "base.html" %} {% block body %}
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Add Transaction</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <form class="col-md-9" method="POST">
                        {{ form.hidden_tag() }} {{ form.amount(size=32, class_="form-control", placeholder="Enter Amount*") }}
                        <br>{{ form.reason(size=10, class_="form-control", placeholder="Enter Reason") }}
                        <br>{{ form.submit(class_="btn btn-primary btn-lg") }}
                    </form>
                    <div>
                        <h3>{{ contacts.name }}</h3>
                        <h4><br> {{ contacts.email }}<br></h4>
                        <h2>
                            <hr> {% if amount == None %}
                            <span style="color: green;">0</span> {% elif amount > -1 %}
                            <span style="color: green;">{{ amount }}</span> {% else %}
                            <span style="color: red;">{{ amount }}</span> {% endif %}
                        </h2>
                    </div>
                </div>
                {% for tr in transactions %}
                <hr>
                <a href="{{ url_for('delete_transaction', transaction_id = tr.id) }}"><img alt="delete" src="{{url_for('static',filename='img/delete.png')}}" width='24px'></a> {% if tr.amount > -1 %}
                <span style="color: green;">{{ tr.amount }}</span> {% else %}
                <span style="color: red;">{{ tr.amount }}</span> {% endif %}
                <span>{{ tr.reason }}</span> {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}